@* @model Task<List<MidasShopSolution.ViewModels.Categories.CategoryDto>> *@

<div class="col-sm-3 sidenav card mb-3">
    <form class="d-flex p-2">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Find</button>
    </form>
    @* @await Component.InvokeAsync("Sidebar") *@
    @* <ul class="list-unstyled">
        @{
        var parents = Model.Where(x => x.ParentId == null);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
        var parent = parents.ElementAt(index);
        var children = Model.Where(x => x.ParentId == parent.Id);
        if (children.Any())
        {
        <li class="subMenu open">
        <a> @parent.Name</a>
        <ul>
        @foreach (var item in children)
        {
        <li><a class="active" href="products/@item.Id"><i class="icon-chevron-right"></i>@item.Name </a></li>
        }
        </ul>
        </li>
        }
        else
        {
        <li><a href="products/@parent.Id">@parent.Name</a></li>
        }

        }
        <li class="mb-1">
        <h2 class="card-body mb-0 pb-0" id="headingOne">
        <button class="accordion-button btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
        data-bs-target="#home-collapse" aria-expanded="true">
        Home
        </button>
        </h2>
        <div class="collapse p-3" id="home-collapse" style="">
        <div class="list-group list-group-flush">
        <a href="#" class="nav-item nav-link list-group-item list-group-item-action">Overview</a>
        <a href="#" class="list-group-item list-group-item-action">Updates</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
        </div>
        </div>
        </li>
        <li class="mb-1">
        <h2 class="card-body mb-0 pb-0">
        <button class="accordion-button btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Dashboard
        </button>
        </h2>
        <div class="collapse p-3" id="dashboard-collapse" style="">
        <div class="list-group list-group-flush ">
        <a href="#" class="list-group-item list-group-item-action">Overview</a>
        <a href="#" class="list-group-item list-group-item-action">Updates</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
        </div>
        </div>
        </li>
        <li class="mb-1">
        <h2 class="card-body mb-0 pb-0">
        <button class="accordion-button btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
        </button>
        </h2>
        <div class="collapse p-3" id="orders-collapse" style="">
        <div class="list-group list-group-flush ">
        <a href="#" class="list-group-item list-group-item-action">Overview</a>
        <a href="#" class="list-group-item list-group-item-action">Updates</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
        </div>
        </div>
        </li>
        <li class="mb-1">
        <h2 class="card-body mb-0 pb-0">

        <button class="accordion-button btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
        </button>
        </h2>
        <div class="collapse p-3 pb-0" id="account-collapse" style="">
        <div class="list-group list-group-flush ">
        <a href="#" class="list-group-item list-group-item-action">Overview</a>
        <a href="#" class="list-group-item list-group-item-action">Updates</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
        </div>
        </div>
        </li>
        </ul> *@
    <ul class="list-unstyled">
        <li class="mb-1">
            <h2 class="card-body mb-0 pb-0" id="headingOne">
                <button class="accordion-button btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true" href="">
                    Category
                </button>
            </h2>
            <div class="collapse p-3" id="home-collapse" style="">
                <div class="list-group list-group-flush">
                    <a href="?CategoryId=1&PageIndex=1&PageSize=10"
                        class="nav-item nav-link list-group-item list-group-item-action">Sách</a>
                    <a href="?CategoryId=2&PageIndex=1&PageSize=10"
                        class="list-group-item list-group-item-action">Viết</a>
                    <a href="?CategoryId=4&PageIndex=1&PageSize=10"
                        class="list-group-item list-group-item-action">Thước</a>
                </div>
            </div>
        </li>
    </ul>
</div>
